# Python
Lib/
Scripts/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
pyvenv.cfg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.log
